@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap");

// основной шрифт и размер //

$fontFamily: "Montserrat";
$fontWeight: 500;
$fontSize: 14px;
$mainColor: #252b42;

@import "_null";

//=================== Общие стили  ================================//

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

[class*="__container"] {
  max-width: 1076px; // сначала контейнер был 1046 как на макете, стал 1076 изза padding 30px
  margin: 0px auto;
  padding: 0px 15px;
  @media (max-width: 1087px) {
    // max-width: 970px;
  }
  @media (max-width: 991.98px) {
    // max-width: 750px;
  }
  @media (max-width: 767.98px) {
    // max-width: none;
  }
}

[class*="-ibg"] {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.header-block {
  text-align: center;

  // .header-block__title

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.42;
    letter-spacing: 0.2px;
    &:not(:last-child) {
      margin: 0px 0px 10px 0px;
    }
    @media (max-width: 991.98px) {
      font-size: 36px;
    }
    @media (max-width: 767.98px) {
      font-size: 30px;
    }
  }

  // .header-block__sub-title

  &__sub-title {
    line-height: 1.43;
    letter-spacing: 0.2px;
    color: #737373;
  }
}

//=================== Общие стили  ================================//

//=================== header  ================================//
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  // .header__container

  &__container {
    display: flex;
    min-height: 104px;
    align-items: center;
    @media (max-width: 479.98px) {
      min-height: 70px;
    }
  }

  // .header__logo

  &__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
  }

  // .header__menu

  &__menu {
    margin: 0px 0px 0px 133px;
    @media (max-width: 991.98px) {
      margin: 0px 0px 0px 80px;
    }
    @media (max-width: 767.98px) {
      margin: 0px 0px 0px 40px;
    }
    @media (max-width: 479.98px) {
      margin: 0px 0px 0px 20px;
    }
  }
}
.menu {
  padding: 5px 0;
  // .menu__list

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  // .menu__item

  &__item {
    &:not(:last-child) {
      margin: 0px 21px 0px 0px;
    }
  }

  // .menu__link

  &__link {
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: 0.2px;
    color: #737373;
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: 479.98px) {
      font-size: 18px;
    }
  }
}

//=================== header ================================//

//=================== main ================================//
.main {
  // .main__main-block

  &__main-block {
    position: relative;
  }
}
.main-block {
  // .main-block__container

  &__container {
  }

  // .main-block__body

  &__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 400px;
    > *:not(:last-child) {
      margin: 0px 0px 35px 0px;
    }
    @media (max-width: 991.98px) {
      padding: 120px 0px 191px 0px;
    }
    @media (max-width: 479.98px) {
      padding: 115px 0px 160px 0px;
    }
  }

  // .main-block__title

  &__title {
    font-weight: 800;
    font-size: 58px;
    line-height: 1.37;
    letter-spacing: 0.2px;
    @media (max-width: 479.98px) {
      font-size: 42px;
    }
  }

  // .main-block__text

  &__text {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #737373;
  }

  // .main-block__buttons

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0px;
  }

  // .main-block__button

  &__button {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.2px;
    border-radius: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;
    padding: 5px 36px;
    margin: 10px 0px;
    transition: all 0.3s ease 0s;
    @media (min-width: 479.98px) {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    @media (max-width: 479.98px) {
      flex: 1 1 100%;
    }

    // .main-block__button_orange

    &_orange {
      color: #ffffff;
      background: #ff7b47;
      &:hover {
        background-color: #fff;
        color: #ff7b47;
      }
    }

    // .main-block__button_border

    &_border {
      border: 1px solid #0d5c63;
      color: #0d5c63;
      &:hover {
        background-color: #0d5c63;
        color: #fff;
      }
    }
  }

  // .main-block__image-ibg

  &__image-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @media (max-width: 1300px) {
      img {
        object-position: right;
      }
    }
    @media (max-width: 991.98px) {
      opacity: 0.5;
    }
  }
}

//=================== main ================================//

//=================== service ================================//
.main {
  // .main__services

  &__services {
    position: relative;
    z-index: 2;
    margin: -111px 0px 0px 0px;
  }
}
.services {
  // .services__container

  &__container {
  }

  // .services__body

  &__body {
    @media (min-width: 670px) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
    }
  }

  // .services__column

  &__column {
    flex: 0 1 33.333%;
    @media (max-width: 991.98px) {
      flex: 0 1 50%;
      &:not(:last-child) {
        margin: 0px 0px 30px 0px;
      }
      &:last-child {
        flex: 1 1 100%;
      }
    }
    @media (min-width: 670px) {
      padding: 0 15px;
    }
  }

  // .services__item

  &__item {
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    padding: 35px;
    @media (max-width: 479.98px) {
      padding: 25px;
    }
  }
}
.item-service {
  > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }

  // .item-service_green

  &_green {
    background: #0d5c63;
    &__title {
      color: #fff;
    }
  }

  &_green &__title {
    color: #fff;
  }

  &_green &__text {
    color: #fff;
  }

  // .item-service__icon

  &__icon {
  }

  // .item-service__title

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
  }

  // .item-service__text

  &__text {
    line-height: 1.43;
    letter-spacing: 0.2px;
    color: #737373;
  }
}

//=================== service ================================//

//=================== advantages ================================//
.main {
  // .main__advantages

  &__advantages {
  }
}
.advantages {
  padding: 80px 0;
  @media (max-width: 991.98px) {
    padding: 50px 0;
  }
  @media (max-width: 767.98px) {
    padding: 40px 0;
  }

  // .advantages__container

  &__container {
  }

  // .advantages__header

  &__header {
    margin: 0px 0px 50px 0px;
    @media (max-width: 767.98px) {
      margin: 0px 0px 25px 0px;
    }
  }

  // .advantages__body

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
  }

  // .advantages__column

  &__column {
    padding: 0 15px;
    margin: 0px 0px 30px 0px;
    flex: 0 1 25%;
    @media (max-width: 1020px) {
      flex: 0 1 50%;
    }
    @media (max-width: 560px) {
      flex: 0 1 100%;
    }
  }

  // .advantages__item

  &__item {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    font-weight: 700;
    > *:not(:last-child) {
      margin: 0px 0px 10px 0px;
    }
  }

  // .advantages__icon

  &__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  // .advantages__value

  &__value {
    font-size: 40px;
    line-height: 1.42;
    letter-spacing: 0.2px;
  }

  // .advantages__text

  &__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #737373;
  }
}

//=================== advantages ================================//

//=================== practice ================================//
.main {
  // .main__practice

  &__practice {
  }
}
.practice {
  padding: 125px 0px 80px 0px;
  @media (max-width: 991.98px) {
    padding: 40px 0px 80px 0px;
  }
  @media (max-width: 767.98px) {
    padding: 0px 0px 40px 0px;
  }
  // .practice__container

  &__container {
  }

  // .practice__header

  &__header {
    margin: 0px 0px 45px 0px;
    @media (max-width: 767.98px) {
      margin: 0px 0px 25px 0px;
    }
  }

  // .practice__body

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px -30px;
  }

  // .practice__column

  &__column {
    padding: 0 20px;
    flex: 0 1 25%;
    margin: 0px 0px 30px 0px;
    @media (max-width: 1040px) {
      flex: 0 1 50%;
    }
    @media (max-width: 530px) {
      flex: 0 1 100%;
    }
  }

  // .practice__item

  &__item {
  }
}

.item-practice {
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  // .item-practice__content

  &__content {
    padding: 30px;
    flex: 1 1 auto;
  }

  // .item-practice__link

  &__link {
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
    &:not(:last-child) {
      margin: 0px 0px 15px 0px;
    }
  }

  // .item-practice__title

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
  }

  // .item-practice__text

  &__text {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.2px;
    color: #737373;
  }

  // .item-practice__image-ibg

  &__image-ibg {
    display: block; //тк это ссылка!
    padding: 0px 0px 60% 0px;
  }
}

//=================== practice ================================//

//=================== who-we-are ================================//
.main {
  // .main__who-we-are

  &__who-we-are {
  }
}
.who-we-are {
  padding: 80px 0px 130px 0px;
  background: #ffffff;
  @media (max-width: 950px) {
    padding: 50px 0px 50px 0px;
  }
  @media (max-width: 767.98px) {
    padding: 20px 0px 50px 0px;
  }
  // .who-we-are__container

  &__container {
  }

  // .who-we-are__header

  &__header {
    margin: 0px 0px 100px 0px;
    @media (max-width: 950px) {
      margin: 0px 0px 30px 0px;
    }
  }

  // .who-we-are__body

  &__body {
    display: flex;
    align-items: flex-start;
    @media (max-width: 950px) {
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }

  // .who-we-are__video

  &__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0px 0px 42.25% 0px;
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
    @media (max-width: 950px) {
      &:not(:last-child) {
        margin: 50px 0px 0px 0px;
      }
      padding: 0px 0px 56.25% 0px;
    }
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 30px 0px 0px 0px;
      }
    }
  }

  // .who-we-are__content

  &__content {
    flex: 1 1 auto;
    padding: 20px 0px 0px 121px;
    @media (max-width: 1080px) {
      padding: 0px 0px 0px 50px;
    }
    @media (max-width: 991.98px) {
      padding: 0px 0px 0px 0px;
    }
  }

  // .who-we-are__top

  &__top {
    &:not(:last-child) {
      margin: 0px 0px 50px 0px;
    }
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 0px 0px 30px 0px;
      }
    }
  }

  // .who-we-are__title

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.42;
    letter-spacing: 0.2px;
    &:not(:last-child) {
      margin: 0px 0px 10px 0px;
    }
    @media (max-width: 950px) {
      font-size: 24px;
    }
  }

  // .who-we-are__text

  &__text {
    line-height: 1.43;
    letter-spacing: 0.2px;
    color: #737373;
  }

  // .who-we-are__items

  &__items {
  }

  // .who-we-are__item

  &__item {
    &:not(:last-child) {
      margin: 0px 0px 30px 0px;
    }
  }
}

.item-who-we-are {
  display: flex;
  // .item-who-we-are__icon

  &__icon {
    flex: 0 0 32px;
  }

  // .item-who-we-are__body

  &__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 20px;
  }

  // .item-who-we-are__title

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    &:not(:last-child) {
      margin: 0px 0px 5px 0px;
    }
  }

  // .item-who-we-are__text

  &__text {
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: 0.2px;
    color: #737373;
    white-space: nowrap;
    width: 225px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

//=================== who-we-are ================================//

//=================== clients ================================//
.main {
  // .main__clients

  &__clients {
    &:not(:last-child) {
      margin: 0px 0px 10px 0px;
    }
  }
}
.clients {
  padding: 50px 0;
  @media (max-width: 767.98px) {
    padding: 30px 0;
  }
  // .clients__container

  &__container {
  }

  // .clients__items

  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  // .clients__item

  &__item {
    padding: 8px 15px;
    flex: 0 1 16.6667%;
    text-align: center;
    min-width: 140px;
    img {
      max-width: 100%;
    }
  }
}

//=================== clients ================================//

//=================== subscribe ================================//
.main {
  // .main__subscribe

  &__subscribe {
  }
}
.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 77px;
    left: 0;
    background: #252b42;
  }
  // .subscribe__container

  &__container {
  }

  // .subscribe__body

  &__body {
    position: relative;
    z-index: 2;
    padding: 30px 50px;
    background: #17213c;
    border-radius: 2px;
    @media (min-width: 1070px) {
      margin: 0px 30px;
    }
    @media (max-width: 810px) {
      margin: 0px -15px;
      padding: 20px 15px;
    }
    @media (min-width: 810px) {
      display: flex;
      justify-content: space-between;
    }
  }

  // .subscribe__title

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
    color: #ffffff;
    @media (max-width: 810px) {
      margin: 0px 0px 20px 0px;
    }
    @media (min-width: 810px) {
      max-width: 266px;
    }
  }

  // .subscribe__form

  &__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
  }

  // .subscribe__input

  &__input {
    width: 100%;
    flex: 1 1 auto;
    min-height: 58px;
    background: #f9f9f9;
    color: #737373;
    padding: 0px 20px;
    border: 1px solid #e6e6e6;
    border-right: 0;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
    &:focus {
      color: #000;
    }
    @media (max-width: 810px) {
      padding: 0px 15px;
    }
  }

  // .subscribe__button

  &__button {
    background: #ff7b47;
    border: 1px solid #e6e6e6;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    min-height: 58px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    transition: all 0.3s ease 0s;
    padding: 0px 22px;
    &:hover {
      background: #ca6137;
    }
    @media (max-width: 810px) {
      padding: 0px 15px;
    }
  }
}

//=================== subscribe ================================//

//=================== getintouch ================================//
.main {
  // .main__getintouch

  &__getintouch {
    padding: 80px 0px 135px 0px;
    @media (max-width: 991.98px) {
      padding: 50px 0px;
    }
  }
}
.getintouch {
  // .getintouch__container

  &__container {
  }

  // .getintouch__header

  &__header {
    margin: 0px 0px 80px 0px;
    @media (max-width: 991.98px) {
      margin: 0px 0px 50px 0px;
    }
    @media (max-width: 767.98px) {
      margin: 0px 0px 30px 0px;
    }
  }

  // .getintouch__items

  &__items {
    margin: 0px -15px;
    @media (min-width: 991.98px) {
      margin: 0;
      display: flex;
      align-items: center;
    }
  }

  // .getintouch__item

  &__item {
    flex: 0 1 33.333%;
  }
}

.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 50px 15px;
  > *:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
  // .item-getintouch_active

  &_active {
    background: #252b42;
    color: #ffffff;
    padding: 80px 15px;
    @media (max-width: 991.98px) {
      padding: 50px 15px;
    }
  }

  &_active &__button {
    border: 1px solid #fff;
    color: #fff;
  }

  // .item-getintouch__icon

  &__icon {
  }

  // .item-getintouch__emails

  &__emails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // .item-getintouch__email

  &__email {
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: 0.2px;
    &:hover {
      text-decoration: underline;
    }
  }

  // .item-getintouch__label

  &__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
  }

  // .item-getintouch__button

  &__button {
    border: 1px solid #ff7b47;
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 19.5px;
    border-radius: 5px;
    font-weight: 600;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.2px;
    color: #ff7b47;
    transition: all 0.3s ease 0s;
    &:hover {
      border: 1px solid #ff7b47;
      background-color: #ff7b47;
      color: #fff;
    }
  }
}

//=================== getintouch ================================//

//=================== contact ================================//
.main {
  // .main__contact

  &__contact {
  }
}
.contact {
  background-color: #fff;
  padding: 42px 0;
  // .contact__container

  &__container {
  }

  // .contact__body

  &__body {
    @media (min-width: 684.98px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  // .contact__content

  &__content {
    padding: 0px 0px 20px 0px;
    @media (min-width: 684.98px) {
      padding: 0px 20px 0px 0px;
    }
  }

  // .contact__title

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
    &:not(:last-child) {
      margin: 0px 0px 10px 0px;
    }
  }

  // .contact__text

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.2px;
    color: #737373;
  }

  // .contact__button

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 58px;
    padding: 5px 39px;
    transition: background-color 0.3s ease 0s;
    text-align: center;
    letter-spacing: 0.2px;
    color: #ffffff;
    background-color: #ff7b47;
    border-radius: 5px;
    &:hover {
      background-color: #aa5330;
    }
  }
}

//=================== contact ================================//

//=================== footer ================================//
.footer {
  // .footer__top

  &__top {
    background: #17213c;
    padding: 35px 0;
  }

  // .footer__container

  &__container {
    // .footer__container_bottom

    &_bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 767.98px) {
        flex-direction: column;
      }
    }
  }

  // .footer__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
    color: #ffffff;
  }

  // .footer__column

  &__column {
    padding: 15px 15px;
    flex: 0 1 16.6667%;
    &:last-child {
      flex: 0 1 33.334%;
    }
    @media (max-width: 991.98px) {
      flex: 0 1 25%;
      &:last-child {
        flex: 1 1 100%;
      }
    }
    @media (max-width: 767.98px) {
      flex: 0 1 50%;
    }
  }

  // .footer__label

  &__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    margin: 0px 0px 20px 0px;
  }

  // .footer__menu

  &__menu {
  }

  // .footer__contacts

  &__contacts {
  }

  // .footer__bottom

  &__bottom {
    padding: 25px 0;
  }

  // .footer__copy

  &__copy {
    font-weight: 600;
    color: #737373;
    line-height: 171%;
    @media (max-width: 767.98px) {
      margin: 0px 0px 15px 0px;
      text-align: center;
    }
  }

  // .footer__social

  &__social {
    display: flex;
    align-items: center;
  }
}
.menu-footer {
  // .menu-footer__list

  &__list {
  }

  // .menu-footer__item

  &__item {
    &:not(:last-child) {
      margin: 0px 0px 10px 0px;
    }
  }

  // .menu-footer__link

  &__link {
    font-weight: 600;
    display: inline-block;
    line-height: 1.71;
    letter-spacing: 0.2px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.contacts-footer {
  display: flex;
  flex-direction: column;
  // .contacts-footer__item

  &__item {
    padding: 0px 0px 0px 34px;
    font-weight: 600;
    line-height: 1.71;
    display: flex;
    align-items: center;
    color: #ffffff;
    min-height: 30px;
    &:not(:last-child) {
      margin: 0px 0px 12px 0px;
    }
    &:hover {
      text-decoration: underline;
    }
    // .contacts-footer__item_phone

    &_phone {
      background: url("../img/footer/contacts/01.svg") 0 0 no-repeat;
    }

    // .contacts-footer__item_map

    &_map {
      background: url("../img/footer/contacts/02.svg") 0 0 no-repeat;
    }

    // .contacts-footer__item_email

    &_email {
      background: url("../img/footer/contacts/03.svg") 0 0 no-repeat;
    }
  }
}
.social {
  display: flex;
  align-items: center;
  // .social__item

  &__item {
    &:not(:last-child) {
      margin: 0px 20px 0px 0px;
    }
  }
}

//=================== footer ================================//
